<!DOCTYPE html>
<html lang="en">
  {% include head.html %}
  <body>
    <nav>{% include nav.html %}</nav>
    <div class="wrapper">
      <div class="content-container">
        <div id="left-sidebar" class="left-sidebar sidebar">
          {% include sidebar.html %}
          <div id="left-resize-handle" class="resize-handle"></div>
        </div>
        <div id="main-content" class="main-content">
          <main>{{ content }}</main>
          <footer>{% include footer.html %}</footer>
          <div id="right-resize-handle" class="resize-handle"></div>
        </div>
        <div id="right-sidebar" class="right-graph-sidebar sidebar">
          <h3 class="graph-title">Interactive Graph</h3>
          {% include notes_graph.html %}
        </div>
      </div>
    </div>

    {% include link-previews.html wrapperQuerySelector="content" %}
  </body>
</html>
