<!DOCTYPE html>
<html lang="en">
  {% include head.html %}
  <body>
    <nav>{% include nav.html %}</nav>
    <div class="wrapper">
      <div class="content-container">
        <div class="left-sidebar" id="left-sidebar">
          {% include sidebar.html %}
        </div>
        <div class="main-content" id="main-content">
          <main>{{ content }}</main>
          <footer>{% include footer.html %}</footer>
        </div>
        <div class="right-graph-sidebar" id="right-graph-sidebar">
          <h3 class="graph-title">Interactive Graph</h3>
          <div id="graph-container">
            {% include notes_graph.html %}
          </div>
          <div class="resizer" id="right-resizer"></div>
        </div>
      </div>
    </div>

    {% include link-previews.html wrapperQuerySelector="content" %}
    <script src="/assets/js/resize-panels.js"></script>
  </body>
</html>
