<!DOCTYPE html>
<html lang="en">
  {% include head.html %}
  <body>
    <nav>{% include nav.html %}</nav>
    <div class="wrapper">
      <div class="content-container">
        <div class="left-sidebar">
          {% include sidebar.html %}
        </div>
        <div class="main-content">
          <main>{{ content }}</main>
          <footer>{% include footer.html %}</footer>
        </div>
      </div>
    </div>

    {% include link-previews.html wrapperQuerySelector="content" %}
  </body>
</html>
